.item-detail-section{
    min-height: 150px;
}

.item-detail{
    display: flex;
    flex-direction: row;
}

.item-detail .item-quantity {
    flex: 1;
    width: 20px;
    color: #CA2129;
}

.item-detail .item-data {
    flex: 9;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.remove {
    width: 25px;
    text-align: center;
    color: #CA2129;
}

.add {
    width: 25px;
    text-align: center;
    color: #CA2129;
}

.checkout-button{
background-color: #CA2129;
border: none;
border-radius: 5px;
height:35px;
color: white;
}

.checkout-button:hover {
    color: black;
    border-style: solid;
    border-color: #CA2129;
    border-width: 2px;
    background-color: white;
}