.menu {
  position: relative;
  z-index: 2;
  padding: 20px;
  display: flex;
  flex-direction: row;


}

.category-list {
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  height: 100%;

}


.menu .search-container {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 3;

}

.search-bar-container .clear-button {
  margin: 0.5rem;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.menu .search-icon {
  font-size: 24px;
  color: #333;
  cursor: pointer;


}

.search-bar-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0.5rem;
  border: none;
  background-color: #fff;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.menu .search-bar-container input {
  width: 100%;
  padding: 8px;
  border: none;
  font-size: 16px;

}

.search-bar-container .form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

@media (max-width: 768px) {
  .menu .category-list {
    overflow-x: auto;
  }
}


/* /navbar / */

.nav-card {
  padding: 5px;
  display: flex;
  border-radius: 5px;
  border-color: black;
}

.nav-name {
  color: red;
  padding-right: 5px;
  white-space: nowrap;
}

.nav-img {
  width: 40px;
  height: 40px;
  background-color: beige;
  border-radius: 5px;

}

@media (max-width:360px) {
  .nav-card {
    width: 125px;
  }
  
}