@media (max-width:767px) {
  .modalwrap {
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

  }
}

.modalwrap ::-webkit-scrollbar {
  display: none;
}

.modalwrap {
  display: flex;
  flex-direction: row;
  background-color: #f9f9f9;
}

.modal-left {
  width: 50%;
}


.modal-right {
  width: 50%;
  position: relative;
  height: 500px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 5px;
 
}

/* .modal-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}  */

.top-heading {
  padding: 20px;
}

.itemoption {
  margin: 0;
  background-color: #f9f9f9;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #2e2e2e;
  font-family: Larsseit, sans-serif;
  padding: 20px 30px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); 


}
.modalClose {
  position: fixed;
  top: 80px;
  right: 150px;
  font-size: 18px;
  background-color: #fff;
}



.option-name {
  padding: 20px 30px;
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); */
  background-color: #e9ecef;
  width: inherit;
}



.option-required {
  padding: 10px;
  /* width: 100px; */
  font-size: 14px;
  line-height: 18px;
  color: #6e6e6e;
  display: flex;
  width: 100%;
  overflow-x: auto;

}


.card-container {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 20px;
  padding: 5px;

}



.option-value {
  margin: 0px 0px 5px;
  padding: 10px 16px 16px;
  align-items: center;
  background-color: #FFFFFF;
}


.add-instruction {
  padding: 0px 20px 30px 25px;
  background-color: #f9f9f9;
}



.modal-right .footer {
  padding: 10px 20px;
  position: fixed;
  bottom: 0;
  right: 10;
  background-color: #f5f5f5;
  border-top: 1px solid #ccc;
  width: 39%;
  background-color: #ca2129;
}




.count {
  padding: 8px 24px;
  background-color: #ca2129;
  color: #fff;
  border-radius: 5px;

}

.increment-decrement {
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  margin: 10px 10px;
  grid-gap: 20px;
  gap: 20px;
}



.add-item {
  width: 100%;
  background-color: #ca2129;
  border-radius: 35px;
  padding: 8px 20px;
  font-family: Larsseit, sans-serif;
  color: #fff;
  border: none;
}



