.modal-content {
  background-color: white;
  /* max-width: 550px; */
}

.modalClose {
  position: absolute;
  top: 8px;
  right: 10px;

}


.modal-left {
  width: 50%;
}

.modal-right {
  width: 50%;
  /* position: relative; */
  /* height: 500px; */
  /* overflow-y: auto; */
  /* display: flex; */
  /* flex-direction: column; */
}

.modal-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.top-heading {
  padding: 15px;
}

.InstructionWrap {
  padding: 20px;
  background-color: #e7e9eb;
  font-family: Larsseit, sans-serif;
}


.increment-decrement {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.count {
  padding: 8px 24px;
  background-color: #ca2129;
  color: #fff;
  border-radius: 5px;
  font-family: Larsseit, sans-serif;
}

.add-item {
  width: 100%;
  display: flex;
  background-color: #ca2129;
  border-radius: 35px;
  padding: 8px 20px;
  justify-content: center;
  font-family: Larsseit, sans-serif;
  color: #fff;

}

.modalwrap ::-webkit-scrollbar {
  display: none;
}

.item-options {
  padding: 10px 20px;
}

.card-container {
  width: 500px;
  display: flex;
  column-gap: 10px;
  padding: 10px 0 10px 0px;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  /* add horizontal scroll */
}

@media (min-width: 761px) {
  .modal-right {
    overflow-y: auto;
    position: relative;
    flex-direction: column;
    display: flex;
    height: 650px;
  }
}

@media (max-width: 760px) {
  .modalwrap {
    flex-direction: column;
    overflow-y: auto;
  }

  .modal-left {
    width: 100%;
  }

  .modal-right {
    width: 100%;
  }

  .modal-img {
    height: "50vh";
    width: "100vw";
    object-fit: cover;
  }
}
@media (max-width:360px) {
  .btntext {
    display: none;
  }
}

@media (min-width:360px) {
  .cart-icon {
    display: none;
  }
}
@media (min-width: 360px) {
  .modal-right {
    overflow-y: auto;
    position: relative;
    flex-direction: column;
    display: flex;
    height: 550px;
  }
}
@media (max-width: 360px) {
  .modalwrap {
    flex-direction: column;
    overflow-y: auto;
  }

  .modal-left {
    width: 100%;
  }

  .modal-right {
    width: 100%;
  }

  .modal-img {
    height: "50vh";
    width: "100vw";
    object-fit: cover;
  }
}
@media (max-width:360px) {
  .card-container {
    width:100%; /* Adjust the width to fit the full width of the screen */
    flex-wrap: wrap; /* Allow cards to wrap to the next line */
    justify-content: center; /* Center the cards horizontally */
    overflow-x: initial; /* Disable horizontal scroll */
    padding: 5px 0px 0px 5px;
   
  }
}

