/* CSS for ProductCard component */

.product-card {
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    /* border: 1px solid #ccc; */
    background-color:white;
    border-radius: 8px;
    width: 180px;
    /* min-width: 25%; */

}
.product-image {
    width: 180px;
    height:auto;
    object-fit: cover;
    border-radius: 4px 4px 0px 0px;

}

.product-details {
    flex: 1;
    padding: 10px;
    position: relative;
    min-height: 100px;
}

.product-title {
    /* padding: 10px; */
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    min-height: 40px;
}

.product-prices {
    display: flex;
    align-items: center;
}

.product-price {
    font-size: 1.2rem;
    color: #333;
    margin-right: 0.5rem;
    position:absolute;
    bottom: 10px;

}

.product-discount-price {
    font-size: 1.2rem;
    color: #aaa;
    text-decoration: line-through;
}


@media (max-width:360px) {
    .product-card{
        width: 125px;
        margin: 0.5rem;
    }
    .product-image{
     width: 125px;   
    }
    .product-title {
        font-size: 0.5rem;
        font-weight: bold;
       
        
    }
    .product-details{
        min-height: 50px;
    }
    .product-price {
        font-size: 0.6rem;
        margin-right: 0.2rem;
    }

    
}